


body {
	margin: 0px;
	padding: 50px;
	width: 670px;
	height: 900px:
	text-align: left;
	text-indent: 50px;
	width: 670px;
	background-color: rgb(234, 239, 247);
}

h2 {
	font-size: 21px;
	font-family:  Arial;
	text-align: center;
	color: rgb(34, 82, 158);
}

h3 {
	font-size: 14px;
	font-family:  Arial;
	text-align: center;
	color: rgb(34, 82, 158);
}

h4 {
	font-size: 11.5px;
	font-family:  Arial;
	text-align: left;
}

h5 {
	font-size: 10.5px;
	font-family:  Arial;
	text-align: center;
}


p {
	font-size: 11px;
	font-family:  Arial;
	text-align: left;
	padding: 50px;
}
